<div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
  <div class="bg-white shadow rounded">
    <app-product-list (selectProduct)="onProductSelected($event)"></app-product-list>
  </div>
  <div class="bg-white shadow rounded">
    <app-product-form [product]="selectedProduct"></app-product-form>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 mt-8">
  <div class="bg-white shadow rounded">
    <app-order-list></app-order-list>
  </div>
  <div class="bg-white shadow rounded">
    <app-order-form></app-order-form>
  </div>
</div>
