<form (ngSubmit)="onSubmit()" class="space-y-4">
  <div *ngFor="let field of fields" class="flex flex-col">
    <label class="font-semibold text-gray-600">{{ field.name }}</label>
    <input
      [type]="field.type"
      [(ngModel)]="model[field.name]"
      [name]="field.name"
      class="border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring focus:ring-blue-200"
    />
  </div>
  <button
    type="submit"
    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
  >
    Guardar
  </button>
</form>
